# Godot 4+ specific ignores
.godot/
seeds-of-hope/.godot/editor/filesystem_cache8
seeds-of-hope/.godot/editor/filesystem_update4
seeds-of-hope/.godot/editor/project_metadata.cfg
seeds-of-hope/.godot/editor/script_editor_cache.cfg
seeds-of-hope/.godot/uid_cache.bin
seeds-of-hope/.godot/editor/filesystem_cache8
seeds-of-hope/.godot/editor/filesystem_update4
seeds-of-hope/.godot/editor/project_metadata.cfg
seeds-of-hope/.godot/editor/script_editor_cache.cfg
seeds-of-hope/.godot/uid_cache.bin
